<!-- Глазок -->
                <div class="group-box group-box-5">
                    <div style="display: flex; flex-direction: column; gap: 5px;">
                        <div>
                            <h3>Глазок</h3>
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <select class="form-control" name="peep_combo" style="width: 231px;">
                                    <option>Без глазка</option>
                                    <option>Глазок по центру</option>
                                    <option>Глазок сбоку</option>
                                </select>
                                <label class="form-label" id="peep-nonstandard-label" style="width: auto; display: none;">Нестандарт</label>
                            </div>
                        </div>
                        <div class="head-section">
                            <h3>Надставка</h3>
                            <div style="display: flex; align-items: center; gap: 40px;">
                                <select class="form-control" name="head" style="width: 150px;">
                                    <option value="Без надставки">Без надставки</option>
                                    <!-- Опции будут заполняться динамически -->
                                </select>
                                
                                <div class="head-field-container" style="display: flex; align-items: center; gap: 0px;">
                                    <label class="form-label" style="width: auto;">Высота</label>
                                    <input type="text" class="form-control" name="height_head" style="width: 80px;" value="0">
                                </div>
                            </div>
                            <div class="head-pic-container" style="display: flex; align-items: center; justify-content: center; gap: 10px; margin-top: 10px; width: 100%;">
                                <div class="head-field-container" style="display: flex; align-items: center; justify-content: center; gap: 0px; width: 100%;">
                                    <label class="form-label" style="width: auto;">Рисунок снаружи</label>
                                    <select class="form-control" name="head_pic_out" style="width: 100px;">
                                        <!-- Опции будут заполняться динамически -->
                                    </select>
                                </div>
                                <div class="head-field-container" style="display: flex; align-items: center; justify-content: center; gap: 0px; width: 100%;">
                                    <label class="form-label" style="width: auto;">Рисунок внутри</label>
                                    <select class="form-control" name="head_pic_in" style="width: 100px;">
                                        <!-- Опции будут заполняться динамически -->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

